<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<p>Path only (tương đối): <%= pages_about_path %></p> <a href="<%= pages_about_path %>">Page About</a>
<p>Full URL (tuyệt đối): <%= pages_about_url %></p>  <a href="<%= pages_about_url %>">Page About</a>
<%= link_to "About page", pages_about_path %>
